# Additional content resides in front-end/.gitignore

/administrator/common
/reviewer/common
/reader/common
/identity/common

/administrator/database
/reviewer/database
/reader/database

/administrator/Dockerfile
/reviewer/Dockerfile
/reader/Dockerfile
/identity/Dockerfile

/administrator/.dockerignore
/reviewer/.dockerignore
/reader/.dockerignore
/identity/.dockerignore

/administrator/mypy.ini
/reviewer/mypy.ini
/reader/mypy.ini
/identity/mypy.ini

/administrator/.pylintrc
/reviewer/.pylintrc
/reader/.pylintrc
/identity/.pylintrc

/administrator/echo_activate_path
/reviewer/echo_activate_path
/reader/echo_activate_path
/identity/echo_activate_path

/administrator/install-poetry.py
/reviewer/install-poetry.py
/reader/install-poetry.py
/identity/install-poetry.py

/front-end/cypress/screenshots
/front-end/cypress/videos
/front-end/cypress/downloads

/.vscode

__pycache__
