# Additional content resides in front-end/.gitignore

node-administrator/common
node-administrator/Dockerfile
node-administrator/.dockerignore
node-reviewer/common
node-reviewer/Dockerfile
node-reviewer/.dockerignore
node-reader/common
node-reader/Dockerfile
node-reader/.dockerignore
node-identity/common
node-identity/Dockerfile
node-identity/.dockerignore

__pycache__