# Additional content resides in front-end/.gitignore

be-administrator/common
be-reviewer/common
be-reader/common
be-identity/common

be-administrator/database
be-reviewer/database
be-reader/database

be-administrator/Dockerfile
be-reviewer/Dockerfile
be-reader/Dockerfile
be-identity/Dockerfile

be-administrator/.dockerignore
be-reviewer/.dockerignore
be-reader/.dockerignore
be-identity/.dockerignore

be-administrator/mypy.ini
be-reviewer/mypy.ini
be-reader/mypy.ini
be-identity/mypy.ini

be-administrator/.pylintrc
be-reviewer/.pylintrc
be-reader/.pylintrc
be-identity/.pylintrc

be-administrator/activate
be-reviewer/activate
be-reader/activate
be-identity/activate

.pylintrc
mypy.ini

__pycache__
