version: "3.9"

x-common-environment: &common-environment
  DATABASE_URL: postgresql+asyncpg://postgres:postgres@database:5432/arad

x-be-healthcheck: &be-healthcheck
  test: ["CMD-SHELL", "curl http://localhost:8000/health > /dev/null"]
  interval: 5s
  timeout: 5s
  retries: 5

x-be-database-dependency: &be-database-dependency
  database:
    condition: service_healthy

services:
  front-end:
    build: front-end
    volumes:
      - './front-end:/app'
    depends_on:
      - api
    ports:
      - "3000:3000" # for websockets
      - "80:3000"

  api:
    build: api
    depends_on:
      be-identity:
        condition: service_healthy
      be-reader:
        condition: service_healthy
      be-reviewer:
        condition: service_healthy
      be-administrator:
        condition: service_healthy
    ports:
      - "81:80" # this is how the front end talks to the api. port 80 is taken atm.

  be-identity:
    build: be-identity
    restart: always
    environment: *common-environment
    volumes:
      - './be-identity:/app'
    depends_on: *be-database-dependency
    healthcheck: *be-healthcheck
    ports:
      - "8003:8000" # for docs

  be-reader:
    build: be-reader
    restart: always
    environment: *common-environment
    volumes:
      - './be-reader:/app'
    depends_on: *be-database-dependency
    healthcheck: *be-healthcheck
    ports:
      - "8002:8000" # for docs

  be-reviewer:
    build: be-reviewer
    restart: always
    environment: *common-environment
    volumes:
      - './be-reviewer:/app'
    depends_on: *be-database-dependency
    healthcheck: *be-healthcheck
    ports:
      - "8001:8000" # for docs

  be-administrator:
    build: be-administrator
    restart: always
    environment: *common-environment
    volumes:
      - './be-administrator:/app'
    depends_on: *be-database-dependency
    healthcheck: *be-healthcheck
    ports:
      - "8000:8000" # for docs

  database:
    image: "postgres:bullseye"
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - 'database:/var/lib/postgresql/data'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  database:
