li {
  list-style: none;
  border-bottom: 2px solid #939393;
  border-style: dashed;
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  font-size: 18px;
}

.user-rating {
  display: flex;
  align-items: center;
}

.user-rating p:first-child {
  font-size: 12px;
}
.user-rating p:nth-child(2) {
  padding-left: 10px;
  font-size: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  padding-left: 10px;
  color: black;
}
