.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  color: white;
  background-color: black;
}

.header > .right {
  float: right;
  flex: 1;
  text-align: right;
  padding: 3mm;
}

.header > .left {
  float: left;
  flex: 1;
  padding: 3mm;
}